.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--md-ref-palette-primary95);
  height: 80px;
  width: 100%;
  z-index: 14;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 10px;
}

.search {
  width: 200px;
  border-radius: 20px;
  --md-filled-text-field-container-shape: 20px;
}

.title {
  font-size: 2.5rem;
  min-width: 153px;
}

.login {
  padding-right: 20px;
}

.leftModalContent {
  background-color: white; /* Adjust the background color as needed */
  padding: 10px;
  width: 55px; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  text-align: center;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modalContent {
  margin-top: 15px;
}

.mode {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.loginOverlay {
  background-color: white;
  padding: 30px;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  .log {
    margin-left: 10px;
  }
}
