.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imgContainer {
  height: 320px;
}

.img {
  width: 100vw;
  height: 320px;
  object-fit: cover;
}
